body {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1430px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header {
}
.header__row {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__col {
}
.header__col--logo {
    width: 14.3%;
}
.header__logo {
    display: block;
    width: 100%;
    height: 100%;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__col--menu {
    width: 78%;
    display: flex;
    align-items: center;
}
.header__menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}
.header__menu {
    margin-left: 51px;
    max-width: 950px;
    width: 100%;
}
.header__menu-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__menu-item {
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-link {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.header__menu-link:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: .3s;
}

.header__menu-link:hover:after {
    width: 100%;
}

.offer__col--left {
    padding: 70px 0 140px;
    width: 36%;
}
.offer__title {
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0 0 60px 0;
    max-width: 450px;
}

.offer__title span {
    color: #91EBEB;
}

.offer__text {
    font-size: 28px;
    font-weight: 300;
    max-width: 460px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.offer__col--right {
    width: 64%;
}
.footer {
    padding-bottom: 20px;
}
.footer__col {
    display: flex;
    justify-content: flex-end;
}
.footer__social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__social-item {
    margin-right: 25px;
}

.footer__social-item:last-child {
    margin-right: 0;
}

.footer__social-link {
    width: 65px;
    height: 65px;
    transition: .3s;
}

.footer__social-link img {
    width: 100%;
}

.footer__social-link:hover {
    opacity: .5;
}

@media (max-width:1440px){
    .header__col--menu {
        width: 82%;
    }

    .offer__col--right img{
        width: 100%;
        height: auto;
    }
}

@media (max-width:1200px){

    .offer__col--right img {
        width: 100%;
        height: auto;
    }

    .offer__col--left {
        
        padding-bottom: 40px;
    }

    .offer__text {
        font-size: 18px;
    }

    .offer__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .header__menu {
        max-width: 100%;
    }

    .header__menu-link {
        font-size: 16px;
    }
}

@media (max-width:992px){

    .footer {
        
        margin-top: 120px;
    }

    .offer__row {
        flex-direction: column;
    }

    .offer__col--left {
        order: 1;
        position: relative;
        z-index: 2;
        width: 100%;
        overflow-x: hidden;
    }

    .offer__col--right img{
        position: absolute;
        width: 100%;
        right: -40%;
        max-height: 430px;
        object-fit: cover;
    }
}

@media (max-width:867px){
    .header__menu {
        background-color: #000;
        position: fixed;
        width: 80%;
        height: 100%;
        right: -100%;
        top: 0;
        z-index: 20;
        padding-top: 150px;
        padding-right: 15px;
        transition: .3s;
    }

    .header__menu.active {
        right: 0;
    }

    .header__menu-btn {
        margin-left: auto;
        z-index: 30;
        position: relative;
    }

    .header__menu-list {
        align-items: flex-end;
        flex-direction: column;
    }

    .header__menu-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header__menu-item:last-child {
        margin-bottom: 0;
    }

    .header__menu-link {
        font-size: 32px;
    }
}

@media (max-width:576px){

    .offer__col--right {
        width: 100%;
        height: 200px;
    }

    .offer__col--right img {
        width: 100%;
        right: 0;
    }

    .footer {
        margin-top: 50px;
    }


    .footer__social-link {
        display: block;
        width: 40px;
        height: 40px;
    }

    .footer__social-link img {
        width: 40px;
        height: 40px;
    }

    .header__col--logo {
        width: 20%;
    }

    .header__col--menu {
        width:60%;
    }


    .offer__col--left {
        padding-top: 0;
    }

    .offer__title {
        font-size: 24px;
        max-width: 320px;
    }

    .offer__text {
        font-size: 16px;
    }

    .header__menu {
        width: 100%;
        padding-top: 100px;
    }
    
    .header__menu-btn img {
        width: 50px;
        height: auto;
    }

    .header__menu-link {
        font-size: 22px;
    }
}